body {background-color: rgb(102, 102, 223);}

#ima1 {width: 20%;}

#ima2 {width: 40%;}

#ima2 {margin-left: 15%;}

#ima1 {margin-left: 15%;}

#ima3 {width: 40%;}
#ima3 {margin-left: 10%;}

#ima4 {width: 30%;}
#ima4 {margin-left: 10%;}

